* {
    background:#1F2937;
    font-family: 'Comfortaa', cursive;
    width:auto;
    margin:0;
}

.header{
    display:flex;
    flex-direction:row;
    margin-left:10%;
    margin-top:8px;
    justify-content:start;
}

.logo{
    display:flex;
    margin-top:10px;
    font-size:24px;
    color:#f9faf8;
    justify-content:start;
    width:100%;
}

.nav-links{
    display:flex;
    list-style:none;
    font-size:18px;
    margin-right:10%;
    color:#E5E7EB;
    gap:16px;
    justify-content:end;
    width:100%;
}

.container{
    display:flex;
    margin-top:70px;
}

.grid-container-one{
    display:grid;
    grid-template-columns:1fr;
    grid-template-rows:fit-content(8ch) repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-right:10%;
    margin-left:10%;
}

.awesome-web{
    margin-top:10%;
    color:#f9faf8;
    grid-area: 1 / 1 / 2 / 2;
    width:15vw;
    font-size:48px;
    font-weight:bolder;
}

.awesome-web-sub{
    grid-area: 2 / 1 / 3 / 2;
    width:15vw;
    color:#f9faf8;
    margin-top:10px;
}

.sign-up-one{
    border-radius:10px;
    border:none;
    background:#3882F6;
    padding:10px;
    width:100px;
    margin-top:10px;
    color:#f9faf8;
    font-size:16px;
}

.image-one{
    margin-left:21%;
    width:20%;
    height:20%;
    border-radius:10px;
    margin-bottom:60px;
}


.container-two{
    background:#f9faf8;
    flex-direction:column;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:80px;
    height:500px;
    padding:40px;
}

.container-two .shapes{
    display:flex;
    background:#f9faf8;
    justify-content:center;
    gap:80px;
}

.container-two .header{
    background-color:#f9faf8;
    margin:0px;
    font-size:36px;
    font-weight:bolder;
    color:#1F2937;
}


.squares{
    display:flex;
    background:#f9faf8;
    border:4px solid #3882F6;
    width:125px;
    height:125px;
    border-radius:10px;
}

