body{
    background-color:#1F2937;
}


.header{
    font-size:24px;
    color:#F9FAF8;
    display:flex;
    align-items:center;
    gap:12px;
    justify-content:space-between;
    margin-left:10%;
}

.header-links{
    font-size:18px;
    margin-right:10%;
    display:flex;
    gap:8px;
}